window{
  overflow-y: hidden;
}
::-webkit-scrollbar {
    display: none;
}
/* CLASSEs */
.left-menu{

  height: 100%;
}

.user-profile{
  margin-top: 1em;
  background-color: white;
}

.user-points{
  text-align: center;
  border-top: #eee solid 1px;
}
.points-badge{
  border-radius: 20px 20px 20px 20px;
  border: 3px solid #a5d6a7;
  margin-top: 5px;
  font-weight: bold;
  padding: .2em 1em;
  color: #4caf50 ;

}
.user-points p {
  margin-top: 5px ;
  margin-bottom: 5px ;
  font-weight: bold;

}
.awards{
  border-top: #eee solid 1px;

}
.project-helper p{
  margin: 15px 0px 5px 0px;
  font-weight: bold;
  color: #999;
  font-size: 12px;
}
/* IDs */
#main-wrapper{
  overflow-y: hidden;
  margin: 0px;
}
#awards-wrapper{
  text-align: center;
}
#projects-wrapper{
  height: 100%;
}
#projects-wrapper:hover{
  overflow-y: scroll;
}
#newsfeed-wrapper{
  height: 50%;
}
#newsfeed-wrapper h5{
  text-align: center;
}
#friends-wrapper{
  height: 50%;
  border-top: #eee solid 1px;
}
#friends-wrapper h5{
  text-align: center;
}
#right-menu{
  height: 100%
}
