window{
  overflow-y: hidden;
}
::-webkit-scrollbar {
    display: none;
}
span.badge.new{
  background-color: #90caf9
}
/* CLASSEs */
.nav-logo{
  height: 60px;
  width: 60px;
  margin: 2px 10px
}
.left-menu{

  height: 100%;
}

.user-profile{
  margin-top: 1em;
  background-color: white;
}

.user-points{
  text-align: center;
  border-top: #eee solid 1px;
}
.points-badge{
  border-radius: 20px 20px 20px 20px;
  border: 3px solid #90caf9;
  margin-top: 5px;
  font-weight: bold;
  padding: .2em 1em;
  color: #2196f3 ;

}
.user-points p {
  margin-top: 5px ;
  margin-bottom: 5px ;
  font-weight: bold;

}
.awards{


}
.award{
  height: 120px;
  border: solid 1px #aaa;
  padding: 5px;
}
.card-comment-helper p{
  margin: 15px 0px 5px 0px;
  font-weight: bold;
  color: #999;
  font-size: 12px;
}
.friend-card{
  margin-bottom: 7.5px;
}
.friend-card .name{
  font-weight: bold;
}
.friend-card .last-conected{
  margin: 0;
  font-size: 12px;
  color: #ccc
}
.friend-card .name{
  font-weight: bold;
}
.friend-card .activity{
  font-size: 12px;
}
.friend-card .profile-picture{
  border-radius: 50%;
}
.achievement{
  font-weight: bold;
  color: #2196f3;
}
.wrapper-title{
  color: #666;
  height: 5%;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
}
.modal.bottom-sheet{
  width: 50%;
  margin: auto;
  height: 90%;
  margin: auto;
}
.filter-select{
  display: inline;
  position: absolute;;
  right: 30px;
  top: 20px;
  height: 16px;
  width: 20px;
  font-size: 16px;
  padding: 0px;

  background:transparent;
  color:#888;
  border:none;
  outline:none;

}

.notification-card{

}
.notification-card h5{
  border-bottom: 1px solid #ccc;
}
.notification-card img{
  margin-top: 16px;
  border-radius: 50%;
}
.notification-card.read-more{
  color: #90caf9;
}
.blog-date{
  display: block;
  color: #ccc;
  font-size: 12px;
  margin: 0px;
}
/* IDs */
#main-wrapper{
  overflow-y: hidden;
  margin: 0px;
}
#user-points{
  height: 15%
}
#user-profile{
  height: 20%
}
#awards-wrapper{
  text-align: center;
  overflow-y: scroll;
  height: 55%;
}
                              /* projects */
#projects-wrapper{
  height: 100%;
  overflow-y: scroll;
}
#project{
  margin-top: 8px;
}
#single-project-description p{
  font-size: 12px;
  color: #333;
}
#single-project-description span.details{
  font-size: 14px;
  color: black;
  font-weight: bold;
}
                              /* right menu */
#right-menu{
  height: 100%
}
                              /* news feed */
#newsfeed-wrapper{
  height: 45%;
  overflow-y: scroll;
}
#newsfeed-wrapper h5{
  text-align: center;
}
#newsfeed-wrapper blockquote{
  border-left: solid 4px #90caf9;
}
#newsfeed-wrapper blockquote h6{
  font-weight: bold;
}
#newsfeed-wrapper blockquote p{
  margin: 0;
  font-size: 12px;
  text-align: right;
  color: #ccc
}
                              /* friends */
#friends-wrapper{
  height: 45%;
  overflow: scroll;
}
#friends-wrapper h5{
  text-align: center;
}
#friends-wrapper .card-content{
  padding: 10px 20px;
}
#friends-wrapper .card-content .row{
  margin: 0;
}
